<%= form_for @user, url: admins_create_user_by_admin_path do |f| %>
  	
	<div>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name %><br>
	</div>

	<div>
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name %><br>
	</div>	

	<div>
		<%= f.submit %>
	</div>

<% end %>