<% if @visits.size == 0 || @visits.nil? %>
  <h2 class="white-text center">Nothing in your Visiting List</h2>
  <p class="white-text center">Please go to <%= link_to "Properties", search_properties_path, class: "link" %> to add a property to your visiting list</p>
<% else %>
  <%= will_paginate %>

  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Date</th>
        <th>Time</th>
        <th>Remove from List</th>
      </tr>
    </thead>
    <tbody>
      <% @visits.each do |visit| %>
        <tr class="text-left white-text">
          <td><%= visit.property.address %></td>
          <td><%= visit.date %></td>
          <td><%= visit.time %></td>
          <td class="text-center">
            <%= link_to visit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn-xs button' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= will_paginate %>

