<h1 class="text-center">Add to visiting list</h1>

  <%= form_for @visit do |visit_form| %>

  <address><%= visit_form.label @property.address %></address>
  <%= visit_form.hidden_field :property, :value => @property.id %>
  <br>

  <%= visit_form.label :date %>
  <%= visit_form.date_field :date, class: 'form-control' %>
  <br>

  <%= visit_form.label :time %>
  <%= visit_form.time_field :time, class: 'form-control' %>
  <br>

  <%= visit_form.submit "Add to Visiting List", class: 'btn btn-primary' %>
<% end %>
