<!-- This is the view after a customer viewing a property hits
     "add to visiting list". They should need to just select a 
     date and time (the property and customer ids should be
     available from context -->
<h1>Add to visiting list</h1>

<%= form_for @visit do |visit_form| %>

  <%= visit_form.label @property.address %>
  <%= visit_form.hidden_field :property, :value => @property.id %>
  <br>

  <%= visit_form.label :date %>
  <%= visit_form.date_field :date %>
  <br>

  <%= visit_form.label :time %>
  <%= visit_form.time_field :time %>
  <br>

  <%= visit_form.submit "Add to Visiting List" %>
<% end %>