<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1> Properties </h1>

    

    <% if @properties.size == 0 %>
      <p>No properties found</p>
    <% else %>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Address</th>
            <th>Location</th>
            <th>Number of Bathrooms</th>
            <th>Number of Bedrooms</th>
            <th>Rent Price</th>

            <% if current_user.is_role_by_name?("owner")%>
              <th>Edit</th>
              <th>Destroy</th>
            <%elsif current_user.is_role_by_name?("customer")%>
              <th>Add to Visiting List</th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% @properties.each do |prop| %>
            <tr class="text-center">
              <td><%= prop.id %></td>
              <td><%= prop.prop_type %></td>
              <td><%= prop.address %></td>
              <td><%= prop.location %></td>
              <td><%= prop.number_bathrooms %></td>
              <td><%= prop.number_bedrooms %></td>
              <td><%= prop.rent_price %></td>


              <% if current_user.is_role_by_name?("owner")%>

                <td> <!-- Edit -->
                  <%= link_to edit_property_path(prop.id), class: "btn-danger btn-xs " do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>

                <td> <!-- Delete -->
                  <%= link_to prop, method: :delete, class: "btn-danger btn-xs " do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>

              <% elsif current_user.is_role_by_name?("customer")%>
                <td> <!-- Add to visiting list -->
                  <%= link_to new_visit_path(prop), class: "btn-primary btn-xs" do %>
                    <span class="glyphicon glyphicon-ok"></span>
                  <% end %>
                </td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    

  </div>
</div>