<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1> Properties </h1>

    <%= will_paginate %>

    <% if @properties.size == 0 %>
      <p>No properties found</p>
    <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>Address</th>
          <th>Location</th>
          <th>Number of Bathrooms</th>
          <th>Number of Bedrooms</th>
          <th>Rent Price</th>
        </tr>
      </thead>
      <tbody>
      <% @properties.each do |prop| %>
            <tr class="text-center">
              <td><%= prop.id %></td>
              <td><%= prop.prop_type %></td>
              <td><%= prop.address %></td>
              <td><%= prop.location %></td>
              <td><%= prop.number_bathrooms %></td>
              <td><%= prop.number_bedrooms %></td>
              <td><%= prop.rent_price %></td>
            </tr>
      <% end %>
      </tbody>
      </table>
    <% end %>
    <%= will_paginate %>
  </div>
</div>
