<% if admin? %>
	<h1 id="welcome" class="center">Users</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Max Rent</th>
				<th>Account Type</th>
			</tr>
		</thead>
		<tbody>
			<% @users = User.all %>
			<% @users.each do |user| %>
			<tr class="white-text">
				<td><%= user.user_name %></td>
				<td><%= user.email %></td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<% if user.max_rent.nil? %>
				<td>N/A</td>
				<%else%>
				<td><%= user.max_rent %></td>
				<%end%>
				<td><%= user.get_role_by_name(user) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
