
	<h1 id="welcome" class="center">Hi <%= current_user.first_name.humanize %> !</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Max Rent</th>
				<th>Account Type</th>
			</tr>
		</thead>
		<tbody>
			<tr class="white-text">
				<td><%= current_user.user_name %></td>
				<td><%= current_user.email %></td>
				<td><%= current_user.first_name %></td>
				<td><%= current_user.last_name %></td>
				<% if current_user.max_rent.nil? %>
				<td>N/A</td>
				<%else%>
				<td><%= current_user.max_rent %></td>
				<%end%>
				<td><%= current_user.get_role_by_name(current_user) %></td>
			</tr>
			
		</tbody>
	</table>

