<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
 <div class="container-fluid">
  <div class="navbar-header">
        <%= link_to "Beary Best Rentals", root_path, id: "logo"%>
        <% if user_signed_in? %>
        	Logged in as <strong><%= current_user.email %></strong>
        <% end %>
   </div>

   <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <% if admin? %>
          <%= link_to "Users", all_users_path, :class => "btn btn-lg btn-primary"  %>
        <% end %>
        <!--<% if admin? %>
          <%= link_to "Create New User ", new_user_registration_path %><br />
        <% end %>-->

      	<% if user_signed_in? %>

  			  <%= link_to 'Profile', edit_user_registration_path, :class => "btn btn-lg btn-primary" %>
  			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-lg btn-primary"  %>
  		  <% else %>
  			  <!--<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-lg btn-primary" %>--> 
  			  <%= link_to "Login", new_user_session_path, :class => "btn btn-lg btn-primary"  %>
  		  <% end %>


        <li><%= link_to "Help", help_path %></li>

      </ul>
    </div>

  </div>
 </div>
</nav>
