<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
 <div class="container-fluid">
  <div class="navbar-header">
        <%= link_to "Beary Best Rentals", root_path, id: "logo"%>
   </div>

   <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Help", help_path %></li>
        <% if user_signed_in? %>
  			 <!--<li><%= link_to 'Edit profile', edit_user_registration_path %></li> -->
          <li><%= link_to "Properties", properties_path %></li>

          <% if current_user.is_role_by_name?("customer") %>
            <li><%= link_to "Visits", visits_path %></li>
          <%end%>

          <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
  		  <% else %>
  			 <li><%= link_to "Login", new_user_session_path%></li>
  		  <% end %>
      </ul>
    </div>

  </div>
 </div>
</nav>
