<!DOCTYPE html>
<html>
  <head>
    <title>PropertyRental</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="background">
    <%= render 'layouts/header' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if errors_exist? %>
      <p class="alert alert-danger">
        <% errors.each do |msg| %>
          <%= prefix %><%= msg %>.</br>
        <% end %>
      </p>
    <% end %>

      <div class="jumbotron">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= yield %>
            </div>
          </div>
       </div>
      </div>

    <div class="center">
      <% if user_signed_in? %>
        <h5 id="logged_as">Hi, <strong><%= current_user.first_name.humanize %></strong></h5>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
